img{
	border: 0;
}

#container{
	position: relative;
	width: 1000px;
	padding: 0;
	margin: 0 auto;
}

#header{
	position: relative;
	width: 1000px;
	height: 30px;
	/*margin-top: 100px;*/
	padding-top: 10px;
}

#t_blank{
	position: relative;
	width: 1000px;
	height: 15px;
}

#header #logo1{
	position: relative;
	margin-left: 30px;
	float: left;
}

#header #logo2{
	position: relative;
	margin-left: 30px;
	float: left;
}

#header #logo3{
	position: relative;
	margin-right: 96px;
	float: right;
}

#header #logo4{
	position: relative;
	margin-right: 30px;
	float: right;
}

#ads{
	position: relative;
	width: 1000px;
	height: 80px;
	margin: 0;
	padding: 0;
	border: 1px black solid;
}

#titleboard{
	position: absolute;
	margin: 0;
	padding: 0;
}

#menu{
	position: relative;
	width: 980px;
	height: 60px;
	margin-top: 10px;
	padding: 10px;
	padding-left: 0;
	/*background-color: #4d67b0;*/
}

#menu #menulogo{
	position: relative;
	width: 128px;
	height: 64px;
	margin-right: 10px;
	padding: 0;
	float: left;
}

#menu #menuinterface{
	position: relative;
	width: 800px;
	height: 32px;
	margin-left: 40px;
	padding: 0;
	float: left;
}

#menu #menuinterface .divoptions{
	position: relative;
	width: 96px;
	height: 64px;
	margin-left: 4px;
	margin-top: 4px;
	text-align: center;
	float: left;
}

#menu .search-input2{
	margin-left: 48px;
	margin-top: 30px;
	width: 96px;
	height: 22px;
	position: relative;
	background-color: #e1e2ea;
	border: none;
}
#menu #menuinterface #searchpaw{
	margin-left: 8px;
	margin-top: 28px;
	position: absolute;
	cursor: pointer;
}

#content{
	position: relative;
	width: 1000px;
	margin: 10px 0 0 0;
	padding: 0;
}

#contentLeft{
	position: relative;
	width: 264px;
	height: 800px;
	margin: 10px 10px 0 0;
	padding: 0;
	border: 1px black solid;
	float: left;
}

#content #contentLeft #myInfo{
	position: relative;
	width: 244px;
	height: 120px;
	margin: 0;
	padding: 0 10px;
	border: none;
}

#content #contentLeft #myInfo #ownername{
	position: relative;
	width: 100px;
	height: 100px;
	border: 1px red solid;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	text-align: center;
	float: left;
}
#content #contentLeft #myInfo #ownerhead{
	position: relative;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	border: 1px red solid;
	float: left;
}

#content #contentLeft .petnames{
	position: relative;
	width: 140px;
	height: 30px;
	border: 1px red solid;
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 32px;
	text-align: center;
	padding-top: 5px;
}
#content #contentLeft .petheads{
	position: relative;
	width: 140px;
	height: 140px;
	border: 1px red solid;
	margin-left: 16px;
	margin-top: 10px;
}
#content #contentLeft #filter .newsbtns{
	position: relative;
	width: 140px;
	height: 30px;
	margin-left: 10px;
	border: 1px red solid;
	padding-top: 5px;
	text-align: center;
}

#filter{
	position: relative;
	width: 160px;
	margin: 0;
	padding: 10px;
	border: none;
}

#contentCenter{
	position: relative;
	width: 720px;
	height: 1200px auto;
	margin: 10px 0 0 0;
	padding-bottom: 20px;
	border: 1px green solid;
	float: left;
}

#poster{
	position: relative;
	width: 600px;
	height: 100px;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 30px;
	padding-left: 10px;
	border: none;
}
#poster p:hover{
	background-color: #ff9900;
}
#poster #newstopic{
	position: relative;
	width: 100px;
	height: 20px;
	margin-top: 10px;
	padding: 0 10px;
	border: none;
}
#poster .newsactions{
	position: relative;
	width: 100px;
	height: 80px;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 5px;
	text-align: center;
	float: left;
	cursor: pointer;
	color: #e1e2ea;
}
#poster #newsaction1{
	margin-left: 20px;
	background-color: #4568b1;
}
#poster #newsaction2{
	background-color: #3bb5e8;
}
#poster #newsaction3{
	background-color: #eb5c4c;
}
#poster #newsaction4{
	background-color: #00a89e;
}
#poster #newsaction5{
	background-color: #f7941d;
	margin-right: 0;
}

#controlpanel{
	position: relative;
	width: 540px;
	height: 680px auto;
	margin-left: 80px;
	margin-top: 10px;
	border: 1px green solid;
	padding-bottom: 10px;
}
#controlpanel .c_panels{
	position: relative;
	width: 500px;
	height: 260px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
	border: 1px blue solid;
}
#controlpanel #c_panel1 #cpanel1_btn1{
	position: relative;
	width: 80px;
	height: 20px;
	margin-right: 10px;
	border: 1px blue solid;
	text-align: center;
	float: left;
}
#controlpanel #c_panel1 #cpanel1_btn1 a:hover{
	background-color: #ff9900;
}
#controlpanel #c_panel1 #cpanel1_btn2{
	position: relative;
	width: 80px;
	height: 20px;
	margin-right: 10px;
	border: 1px blue solid;
	text-align: center;
	float: left;
}
#controlpanel #c_panel1 #cpanel1_btn2 a:hover{
	background-color: #ff9900;
}
#controlpanel #c_panel1 #cpanel1_btn3{
	position: relative;
	width: 80px;
	height: 20px;
	border: 1px blue solid;
	text-align: center;
	float: right;
}
#controlpanel #c_panel1 #cpanel1_btn3 a:hover{
	background-color: #ff9900;
}
#controlpanel #c_panel1 #cpanel1_input1{
	position: relative;
	width: 496px;
	height: 200px;
	margin-top: 10px;
	border: 1px blue solid;
	float: left;
}
#controlpanel #c_panel2{
	height: 640px;
}
#controlpanel #c_panel2 #picuploadcount{
	margin-top: 6px;
}
#controlpanel #c_panel2 #picsarea{
	position: relative;
	width: 496px;
	height: 128px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px blue solid;
}
#controlpanel #c_panel2 #picsarea .previewimages{
	position: relative;
	border: 1px blue solid;
	width: 70px;
	height: 70px;
	margin-top: 10px;
	margin-left: 8px;
	float: left;
}
#controlpanel #c_panel2 #picsarea #uploadbtn{
	position: relative;
	border: 1px blue solid;
	width: 96px;
	height: 24px;
	margin-top: 8px;
	margin-right: 8px;
	float: right;
	cursor: pointer;
}
#controlpanel #c_panel2 #cpanel2_input2{
	position: relative;
	width: 496px;
	height: 130px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px blue solid;
	float: left;
}
#controlpanel #c_panel2 #cpanel2_btn1{
	position: relative;
	width: 80px;
	height: 20px;
	border: 1px blue solid;
	text-align: center;
	float: right;
	cursor: pointer;
}
#controlpanel #c_panel2 #cpanel2_btn1 a:hover{
	background-color: #ff9900;
}
#controlpanel #c_panel2 #publisher_leader{
	position: relative;
	width: 496px;
	height: 64px;
	margin-top: 16px;
	margin-left: 6px;
	border: 1px black solid;
}
#controlpanel #c_panel2 #publisher_leader .publishers{
	position: relative;
	width: 140px;
	height: 48px;
	margin-top: 6px;
	margin-left: 6px;
	border: 1px black solid;
	float: left;
	cursor: pointer;
}
#controlpanel #c_panel2 #receiver_leader{
	position: relative;
	width: 496px;
	height: 64px;
	margin-top: 16px;
	margin-left: 6px;
	border: 1px black solid;
}
#controlpanel #c_panel2 #receiver_leader .receivers{
	position: relative;
	width: 140px;
	height: 48px;
	margin-top: 6px;
	margin-left: 6px;
	border: 1px black solid;
	float: left;
	cursor: pointer;
}
#controlpanel #c_panel3 #cpanel3_input1{
	position: relative;
	width: 496px;
	height: 20px;
	border: 1px blue solid;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
#controlpanel #c_panel3 #cpanel3_input2{
	position: relative;
	width: 496px;
	height: 130px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px blue solid;
	float: left;
}
#controlpanel #c_panel3 #cpanel3_btn1{
	position: relative;
	width: 80px;
	height: 20px;
	border: 1px blue solid;
	text-align: center;
	float: right;
}
#controlpanel #c_panel3 #cpanel3_btn1 a:hover{
	background-color: #ff9900;
}
#controlpanel #c_panel4 #cpanel4_input1{
	position: relative;
	width: 496px;
	height: 20px;
	border: 1px blue solid;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}
#controlpanel #c_panel4 #cpanel4_input2{
	position: relative;
	width: 496px;
	height: 130px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px blue solid;
	float: left;
}
#controlpanel #c_panel4 #cpanel4_btn1{
	position: relative;
	width: 80px;
	height: 20px;
	border: 1px blue solid;
	text-align: center;
	float: right;
}
#controlpanel #c_panel4 #cpanel4_btn1 a:hover{
	background-color: #ff9900;
}
#controlpanel #c_panel5 .cpanel5_inputs{
	position: relative;
	width: 400px;
	height: 20px;
}
#controlpanel #c_panel5 #cpanel5_btn1{
	position: relative;
	width: 80px;
	height: 20px;
	border: 1px blue solid;
	text-align: center;
	float: right;
	margin-top: 6px;
}
#controlpanel #c_panel5 #cpanel5_btn1 a:hover{
	background-color: #ff9900;
}

#posts{
	position: relative;
	width: 600px;
	margin: 0;
	padding: 0;
	border: none;
}
#posts p:hover{
	background-color: #ff9900;
}

#posts .postsfilters{
	position: relative;
	width: 122px;
	height: 40px;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 5px;
	border: 1px green solid;
	text-align: center;
	float: left;
	cursor: pointer;
}
#posts #postsfilter1{
	margin-left: 80px;
}
#posts #postsfilter4{
	margin-right: 0;
}
#posts .postscontents{
	position: relative;
	width: 560px;
	margin-top: 40px;
	margin-left: 60px;
	padding: 10px;
}

#posts #postscontent_txt .postsconts{
	position: relative;
	width: 560px;
	margin-bottom: 10px;
}
#posts #postscontent_txt .postdates{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: 540px;
	text-align: center;
}
#posts #postscontent_txt .posttxts{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	width: 540px;
	border: 1px green solid;
}

#posts #postscontent_pic .postsconts{
	position: relative;
	width: 560px;
	margin-bottom: 10px;
}
#posts #postscontent_pic .postdates{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: 540px;
	text-align: center;
}
#posts #postscontent_pic .postpics{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 540px;
	border: 1px green solid;
}
#posts #postscontent_pic #postpic1{
	height: 240px;
}
#posts #postscontent_pic #postpic2{
	height: 180px;
}
#posts #postscontent_pic #postpic3{
	height: 320px;
}

#posts #postscontent_res .postsconts{
	position: relative;
	width: 560px;
	margin-bottom: 10px;
}
#posts #postscontent_res .postdates{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: 540px;
	text-align: center;
}
#posts #postscontent_res .postress{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	width: 540px;
	border: 1px green solid;
}

#posts #postscontent_ado .postsconts{
	position: relative;
	width: 560px;
	margin-bottom: 10px;
}
#posts #postscontent_ado .postdates{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: 540px;
	text-align: center;
}
#posts #postscontent_ado .postados{
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	width: 540px;
	border: 1px green solid;
}

#footer{
	text-align: center;
	position: relative;
	width: 1000px;
	height: 50px;
	margin: 0;
	padding: 0;
	border: none;
	clear: both;
}
